body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-gradient);
  background-attachment: fixed;
  color: var(--text);
  overflow-x: hidden;
}

.app {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
